<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap-theme.min.css">
<style>
    .identifier { width: 1em; font-size: 82.5%; font-family: Courier; }
    .section { }
    .subsection { text-indent: 2em; }
    .subsubsection { text-indent: 4em; }
    .paragraph { text-indent: 6em; }
    .issues { width: 50%; }
    .issues h5 { margin: 0; }
</style>

<div class="container">
    <header class="page-header">
        <h1>{{ project_name }} <small>{{ branch }}</small></h1>
    </header>
    <h4>{{ file_path }} <small>{{ commit_id }}</small></h4>
    <table class="table table-bordered">
        {% if missing_count > 0 %}
        <p>Oops. Looks like you're {{ missing_count }} section identifier(s). Here's some fun ones: <pre>{{ random_identifiers|join('\n') }}</pre></p>
        {% endif %}
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Issues</th>
            </tr>
        </thead>
        <tbody>
            {% for section in sections_extended %}
            <tr>
                <td class="identifier {% if section[4] %} success {% else %} danger {% endif %}"><a target="_blank" href="{{project_info.web_url}}/issues/new?issue[title]={{section[1]}}%20">{{ section[1] }}</a></td>
                <td class="{{ section[0] }}">{{ section[2] }}</td>

                <td class="issues">
                    {% for section_issue in section[3] %}
                    <h5>{{ section_issue.iid }} <a target="_blank" href="{{project_info.web_url}}/issues/{{section_issue.iid}}">{{ section_issue.title }}</a> <small>{{ section_issue.assignee.name }}</small></h5>
                    <p><small>{{ section_issue.description }}</small></p>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </thead>
    </table>
</div>
